{% extends './layouts/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="display-2">Categories</h1>
</div>
<section class="row">
    <div class="col-sm-5 col-xs-12 p-3">
        <form action="/create_category/" method="POST" class="card">
            {% csrf_token %}
            <div class="text-center card-header">
                <h2 class="fs-3">Create category</h2>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <span class="text-danger fs-5 fst-italic"> {{ error }} </span>
                </div>
                <div class="my-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" type="text" id="title" name="title" required placeholder="Enter the transaction title">
                </div>
                <div class="my-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" required placeholder="Write a description for your transaction">
                    </textarea>
                </div>
            
                <button class="btn btn-primary w-100" type="submit">
                    Create
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-7 col-xs-12 p-3">
        {% include "./layouts/list_categories.html" with categories=categories %}
    </div>
</section>
{% endblock %}