{% extends './layouts/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="display-2">Delete category</h1>
    <form action="" method="post" class="my-5">
        {% csrf_token %}
        <p class="fs-4 text-secondary">Are you sure you want to delete the category?</p>
        <div class="mt-4">
        <a href="{% url 'create_category' %}" class="btn btn-primary">
            Cancel
        </a>
        <button class="btn btn-danger">
            Delete
        </button>
        </div>
    </form>
</div>
{% endblock %}