{% extends './layouts/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="display-2">Expenses</h1>
</div>
<section class="mt-2">
    {% if  expense_count < 1 %}
        <div class="text-center my-5">
            <span class="fs-4 fst-italic text-secondary">There is nothing yet.</span>
        </div>
    {% else %}

        {% for expense in expenses %}
            <div class="card m-4">
                <div class="card-header d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="px-2">
                            <i class="bi bi-dash-circle-fill text-danger"></i>
                        </span>
                        <h3 class="fs-2">{{ expense.title }}</h3>
                    </div>
                    <form action="{% url 'delete_transaction' expense.id %}" action="post">
                        {% csrf_token %}
                        <button class="btn btn-danger">Eliminar</button>
                    </form>
                </div>

                <div class="card-body">
                    <p class="d-flex justify-content-between align-items-center">
                        <span class="fst-italic fw-normal fs-4">{{ expense.description }}</span>
                        <span class="fw-bolder fs-1 text-danger"> - $ {{ expense.amount }} </span>
                    </p>
                    <div class="d-flex justify-content-evenly">
                        <p class="fs-5"> 
                            <span class="fw-semibold">Transaction: </span> {{ expense.transaction_type }} 
                        </p>
                        <p class="fs-5"> 
                            <span class="fw-semibold">Category: </span> {{ expense.category }} 
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}
</section>
{% endblock %}