{% extends './layouts/base.html' %}

{% block content %}
<main>
    <h1>Expenses</h1>
    <div>
        {% if  incomes_count < 1 %}
        <span>There is nothing yet.</span>
        {% else %}
            {% for expense in expenses %}
            <div>
                <h2>
                    {{ expense.title }}
                </h2>
                <p>
                    {{ expense.description }}
                <p>
                <p>
                    <span> Transaction: {{ expense.transaction_type }} </span>
                    <span> Category: {{ expense.category }} </span>
                <p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}