{% extends './layouts/base.html' %}
{% load static %}

{% block content %}
<section class="row my-5">
    <div class="col-md-6 col-sm-12 px-4">
        <h1 class="display-1 text-center">FINACON</h1>
        <p class="fs-3 white-color">
            This is a simple web application for help you to have a financial control about
            your expenses and incomes. Feel free to register and try this app. 
            <br />
            This aplicacion is made with Python and his framework Django.
            <br />
            Made by: Raúl Langle.
        </p>
    </div>
    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
        <img src="{% static 'img/financial.svg' %}" alt="Financial control" class="w-75"/>
    </div>
</section>
{% endblock %}