{% extends './layouts/base.html' %}

{% block content %}
<main>
    <h1>FINACON</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora corporis ut culpa. Laboriosam, aut quaerat,
        veniam aspernatur similique id temporibus soluta minus, excepturi minima porro commodi. Tempore accusantium nisi
        eaque tenetur dolorum tempora debitis repudiandae cumque, molestiae veniam incidunt adipisci obcaecati
        doloremque. Optio labore, reprehenderit, rem qui nisi numquam inventore harum modi eos libero maiores nostrum
        dignissimos laboriosam cumque? Nulla nesciunt quos, sed magnam obcaecati et repudiandae optio libero animi, rem
        exercitationem quae adipisci dolorum odit, assumenda laboriosam in doloremque porro! Voluptatibus, accusamus
        laborum delectus a velit voluptate qui, alias quas vero tempore aliquid placeat. Labore soluta animi dolorum
        esse.
    </p>
</main>
{% endblock %}