{% extends './layouts/base.html' %}

{% block content %}
<main>
    <h1>Incomes</h1>
    <div>
        {% if  incomes_count < 1 %}
        <span>There is nothing yet.</span>
        {% else %}
            {% for income in incomes %}
            <div>
                <h2>
                    {{ income.title }}
                </h2>
                <p>
                    {{ income.description }}
                <p>
                <p>
                    <span> Transaction: {{ income.transaction_type }} </span>
                    <span> Category: {{ income.category }} </span>
                <p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}