{% extends './layouts/base.html' %}

{% block content %}
<main>
    <h1>Login</h1>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <div>
            <span>{{ error }}</span>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Write your username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Write your password">
        </div>
        <button type="submit">
            Register
        </button>
    </form>
</main>
{% endblock %}