{% extends './layouts/base.html' %}

{% block content %}
<main>
    <h1>Register</h1>

    <form action="/register/" method="POST">
        {% csrf_token %}
        <div>
            {% for error in form.username.errors %}
            <div>
                <span> {{ error }} </span>
            </div>
            {% endfor %}
            {% for error in form.password1.errors %}
            <div>
                <span> {{ error }} </span>
            </div>
            {% endfor %}
            {% for error in form.password2.errors %}
            <div>
                <span> {{ error }} </span>
            </div>
            {% endfor %}
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Write your username">
        </div>
        <div>
            <label for="password1">Password:</label>
            <input type="password" id="password1" name="password1" placeholder="Write your password">
        </div>
        <div>
            <label for="password2">Confirm your password:</label>
            <input type="password" id="password2" name="password2" placeholder="Confirm your password">
        </div>
        <button type="submit">
            Register
        </button>
    </form>
</main>
{% endblock %}