{% extends './layouts/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="display-2">Register</h1>
</div>
<form action="/register/" method="POST" class="card lg p-4 my-4 col-md-4 offset-4">
    {% csrf_token %}
    <div class="text-center">
        {% for error in form.username.errors %}
        <div>
            <span class="text-danger fs-5 fst-italic"> {{ error }} </span>
        </div>
        {% endfor %}
        {% for error in form.password1.errors %}
        <div>
            <span class="text-danger fs-5 fst-italic"> {{ error }} </span>
        </div>
        {% endfor %}
        {% for error in form.password2.errors %}
        <div>
            <span class="text-danger fs-5 fst-italic"> {{ error }} </span>
        </div>
        {% endfor %}
    </div>
    <div class="my-3">
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Write your username">
    </div>
    <div class="my-3">
        <label class="form-label" for="password1">Password:</label>
        <input class="form-control" type="password" id="password1" name="password1" placeholder="Write your password">
    </div>
    <div class="my-3">
        <label class="form-label" for="password2">Confirm your password:</label>
        <input class="form-control" type="password" id="password2" name="password2" placeholder="Confirm your password">
    </div>
    <button class="btn btn-primary mt-5" type="submit">
        Register
    </button>
</form>
{% endblock %}