{% extends './layouts/base.html' %}

{% block content %}
<main>
    <h1>General report</h1>
    <h2> TOTAL MONEY: ${{ total_amount }} </h2>
    <div>
        {% if  transaction_count < 1 %}
        <span>There is nothing yet.</span>
        {% else %}
            {% for transaction in transactions %}
            <div>
                <h2>
                    {{ transaction.title }}
                </h2>
                <p>
                    {{ transaction.description }}
                <p>
                <p>
                    <span> Transaction: {{ transaction.transaction_type }} </span>
                    <span> Category: {{ transaction.category }} </span>
                <p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}