{% extends './layouts/base.html' %}

{% block content %}
<div class="text-center">
  <h1 class="display-2">General report</h1>
  <h2 class="display-5"> TOTAL MONEY: ${{ total_amount }} </h2>
</div>
<section class="mt-2">
  {% if  transactions_count < 1 %}
    <div class="text-center my-5">
      <span class="fs-4 fst-italic text-secondary">There is nothing yet.</span>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-6 col-sm-12">
        {% include './layouts/list_transactions.html' with transactions=expenses transaction_type="Expenses"%}
      </div>
      <div class="col-md-6 col-sm-12">
        {% include './layouts/list_transactions.html' with transactions=incomes transaction_type="Incomes"%}
      </div>
    </div>
  {% endif %}
</section>
{% endblock %}